# Node modules
node_modules/
edviewx.psgtech.ac.in/node_modules/
backend/node_modules/

# Env files
*.env
edviewx.psgtech.ac.in/.env
backend/.env

# Build outputs
.next/
dist/
edviewx.psgtech.ac.in/dist/
backend/dist/

# Logs
*.log
